/* NAVBAR */

nav {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
  padding: 50px;
}

.dropdown-menu {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
}

.nav-item {
  padding-right: 15px;
}

.navbar-brand {
  font-size: 24px;
}