/* NAVBAR */

nav {
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
  padding: 50px;
}

.dropdown-menu {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
}

.nav-item {
  padding-right: 15px;
}

.navbar-brand {
  font-size: 24px;
}

/* ABOUT ME */

.hero {
  padding: 50px;
}

.hero-image > img {
  width: 100%;
  height: auto;
  border-radius: 25px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.417);
}

.about-me {
  border-radius: 25px;
  background-color: rgba(251, 251, 251, 0.931);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.417);
}

@media (min-width: 992px) {
  .about-me {
    margin-left: -80px;
    margin-top: 50px;
  }
}

@media (max-width: 768px) {
  .about-me {
    margin-top: 20px;
    margin-bottom: -50px;
  }
}

.about-me > h1 {
  font-size: 24px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

.about-me > p {
  font-size: 12px;
  padding-left: 20px;
  padding-right: 20px;
}

.about-me > p:last-child {
  padding-bottom: 20px;
}

/* MY WORK */

.my-work {
  padding-left: 50px;
  padding-right: 50px;
  background-color: rgb(242, 242, 242);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.417);
  padding-bottom: 50px;
  padding-top: 20px;
}

.my-work-img > img {
  width: 100%;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#my-work-head {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 24px;
}

@media (max-width: 768px) {
  #my-work-head {
    text-align: center;
  }

  .about-me > h1 {
    text-align: center;
  }

  .my-work-date {
    text-align: center;
  }

  h2 {
    text-align: center;
  }

  #skills-h {
    text-align: center;
  }
  
  #in-d {
    text-align: center;
  }

}

h2 {
  font-size: 24px;
  padding-left: 10px;
  padding-top: 15px;
}

h2 > a {
  color: black;
  text-decoration: none;
}

h2 > a:hover {
  color: rgb(165, 165, 165);
}

.my-work-item {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.931);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.417);
}

.my-work-date {
  padding-left: 10px;
  padding-bottom: 10px;
  font-size: 12px;
}

/* SKILLS */

.skills {
  padding: 50px;
}

.skills-items {
  border-radius: 10px;
  background-color: rgba(251, 251, 251, 0.931);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.417);
  padding: 5px;
  margin-bottom: 25px;
}

.skills-items > p > i {
  font-size: 30px;
}

.skills-items > p {
  text-align: center;
  margin-top: 15px;
  font-size: 12px;
}

.skills-items-d {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.931);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.136);
  padding: 5px;
  margin-bottom: 25px;
}

.skills-items-d > p > i {
  font-size: 30px;
  color: rgb(213, 210, 210);
}

.skills-items-d > p {
  text-align: center;
  margin-top: 15px;
  font-size: 12px;
  color: rgb(213, 210, 210);
}

#in-d {
  color: rgb(213, 210, 210);
  margin-bottom: 20px;
}

#skills-h {
  margin-bottom: 20px;
}

/* FOOTER */

.footer {
  text-align: center;
  background-color: rgb(242, 242, 242);
  padding-top: 30px;
}

#contact-me > a {
  color: black;
  text-decoration: none;
  font-size: 24px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 13px;
  padding-bottom: 13px;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.931);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.136);
  margin: 30px;
}

#contact-me > a:hover {
  color: grey;
}

#altcademy > a {
  color: rgb(165, 165, 165);
}

#altcademy {
  padding-top: 20px;
  font-size: 12px;
}

#link-alt > a {
  margin-top: -100px;
  color: black;
  text-decoration: none;
}

#link-alt > a:hover {
  color: grey;
}

#footer-head {
  font-size: 20px;
}